body{
    min-height: 100vh;
    display:grid;
    padding:10px;
}
body>#app{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns:300px 1fr;
    grid-gap:10px;
    /* justify-content: space-around; */
}
.table-container{
    /* width: 600px; */
}
.table-content{
    /* width:600px; */
}
.tabulator-cell,
.tabulator-col{
    /* width: 100px!important; */
}